header {
    background-color: rgb(82, 82, 221);
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    position:fixed;
    color: white;
}
body{
    top: 60px;
    position: fixed;
    width: 100%;
    min-width: 1000px;
    background-color: gray;
}
span {
    padding: 3%;
}
.header{
    color: white;
    text-decoration: none;
}

/* When the user hovers over the links in the header, 
change their color and underline them */

header a:hover {
  background-color: black;
  padding: 10px;
}

button{
    background-color: rgb(82, 82, 221);
    color: white;
    border: none;
    padding: 10px 20px;
}
input[type="button"] {
     background-color: rgb(82, 82, 221);
    color: white;
    border: none;
    padding: 10px 20px;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 16px;
  color: #333;
}
input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 16px;
  color: #333;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}